@keyframes arrow-move-up {
  0% {
    transform: scale(1.5); }
  25% {
    opacity: 0; }
  50% {
    transform: translateY(-3rem); }
  75% {
    transform: translateY(3rem) rotate(180deg);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(180deg); } }

@keyframes arrow-move-down {
  0% {
    transform: scale(1.5) rotate(180deg); }
  25% {
    opacity: 0; }
  50% {
    transform: translateY(3rem) rotate(180deg); }
  75% {
    transform: translateY(-3rem) rotate(0);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0); } }

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  background-color: inherit;
  height: 100vh; }

.body {
  width: 100%;
  display: inline-block;
  background-color: #edf2f4;
  padding: .5rem .5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.4s ease;
  z-index: 0; }

a {
  text-decoration: none;
  color: #999;
  transition: all 0.2 ease; }

ul {
  margin-left: 2rem;
  list-style: none; }
  ul li {
    padding-left: 3rem;
    margin: 0;
    background-image: url("../img/linea_arrows_1.0/_SVG/arrows_sign_right.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2rem; }

body {
  /* put font properties in body bc properties are inherited  */
  /* already added in index.html link.href */
  /* Choose sans-serif if Lato isnt available */
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: inherit; }

.header__title {
  font-size: 2rem;
  font-weight: 700; }

.resume {
  color: #333; }
  .resume__tab__title {
    text-decoration: none;
    color: #333;
    font-size: 1.3rem; }

.font-bold {
  font-weight: 700; }

.font-shrink {
  font-size: 1.2rem; }

.font-shrink-more {
  font-size: 1rem; }

.slider__icon {
  display: inline-block;
  font-size: 3rem;
  position: absolute;
  top: 5rem;
  left: 50%;
  z-index: 999;
  transform-origin: center;
  transition: all 0.5s cubic-bezier(1, -0.26, 0.48, 1.23); }

.modal-settings {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 20vh;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease-out;
  background-color: inherit; }
  .modal-settings__content {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 50rem;
    height: 100%; }
    .modal-settings__content__list {
      list-style: none; }
      .modal-settings__content__list::after {
        content: "";
        display: table;
        clear: both; }
      .modal-settings__content__list__item {
        padding: 2rem 0; }
        .modal-settings__content__list__item::after {
          content: "";
          display: table;
          clear: both; }
  .modal-settings-item {
    width: 100%; }
    .modal-settings-item-text {
      float: left;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 400; }
    .modal-settings-item-button {
      float: right; }

.header__settings__checkbox:checked + .modal-settings {
  display: inline-block;
  opacity: 1;
  transform: translateY(-20vh);
  z-index: 1000; }

/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  height: 3rem;
  width: 6rem;
  z-index: 1;
  bottom: 5rem;
  left: 50%; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  z-index: 1000;
  left: 50%;
  bottom: 5rem;
  position: fixed;
  display: inline-block;
  cursor: pointer;
  width: 6rem;
  height: 3.4rem;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

.switch__checkbox:checked + .switch > .slider {
  background-color: #2196F3; }

.switch__checkbox:focus + .switch > .slider {
  box-shadow: 0 0 1px #2196F3; }

.switch__checkbox:checked + .switch > .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.switch__checkbox:checked ~ .body {
  background-color: #2b2d42;
  color: #edf2f4; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0.5rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 0.5rem; }
  .row .col-1-of-2, .row .col-2-of-4 {
    width: calc((100% - 0.5rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 0.5rem*2)/3); }
  .row .col-2-of-3 {
    width: calc(100% - 0.5rem - ((100% - 0.5rem*2)/3)); }
  .row .col-1-of-4 {
    width: calc((100% - 0.5rem*3)/4); }
  .row .col-3-of-4 {
    width: calc((100% - 0.5rem - ((100% - 0.5rem*3)/4))); }

.header {
  border-bottom: 2px solid #8d99ae;
  height: 4vh;
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
  background-color: inherit; }
  .header__title {
    display: block;
    margin: auto;
    width: 90%;
    text-align: center;
    text-transform: uppercase; }
  .header__settings__button {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-color: orangered;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    cursor: pointer; }
  .header__settings__checkbox {
    display: none; }

.section-resume {
  width: 100%;
  height: 80vh;
  z-index: 1; }

.resume {
  position: relative;
  display: block;
  max-width: 65rem;
  height: 100%;
  background-color: inherit;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 3; }
  .resume__tab__checkbox:checked ~ .resume__shadow--anim {
    transform: translateX(calc(1*1rem)) translateY(-29rem); }
  .resume__shadow--anim {
    transition: all 0.5s ease-out;
    box-shadow: 7.2rem 1rem 1rem rgba(43, 45, 66, 0.4);
    width: 85%;
    max-width: 55rem;
    position: absolute;
    height: calc(40vh - 3.5vh);
    bottom: 3rem;
    display: inline-block;
    z-index: 2; }
  .resume__shadow {
    box-shadow: 3rem 3rem 3rem rgba(43, 45, 66, 0.4);
    width: 100%;
    max-width: 63rem;
    position: absolute;
    height: 40vh;
    bottom: 11.3rem;
    left: 50%;
    background-color: transparent;
    display: inline-block;
    z-index: 2;
    transform: translateX(-51%); }
  .resume__cover {
    width: 100%;
    max-width: 63rem;
    height: 40vh;
    position: absolute;
    background-color: #ffc39af3; }
    .resume__cover--front {
      clip-path: polygon(100% 8%, 100% 100%, 0 100%, 0 8%);
      z-index: 60;
      left: 0;
      transform: translateY(32rem); }
      .resume__cover--front::before {
        width: 100%;
        transform: scaleX(0.98) translateY(0.5rem);
        z-index: 61;
        background-color: #f3d9c0;
        content: "";
        display: inline-block;
        position: absolute;
        clip-path: polygon(100% 8%, 100% 100%, 0 100%, 0 8%);
        max-width: 63rem;
        height: 40vh; }
    .resume__cover--back {
      clip-path: polygon(100% 8%, 100% 90%, 99.5% 94%, 99% 95%, 98% 98%, 97% 100%, 0 100%, 0 8%);
      background-color: #dba16b;
      z-index: 7;
      right: 0rem;
      transform: translateY(31.2rem);
      height: calc(40vh + 0.5rem);
      box-shadow: 10px 2px 2px rgba(43, 45, 66, 0.4); }
  .resume__tab {
    cursor: pointer;
    border-radius: 0 0 3px 3px;
    width: 90%;
    position: absolute;
    height: 40vh;
    transition: all 0.5s ease-out; }
    .resume__tab--about {
      left: 1rem;
      background-color: #fdfcdc;
      z-index: 50;
      transform: translateY(30.4rem);
      clip-path: polygon(16.66667% 8%, 100% 8%, 100% 100%, 0 100%, 0 0, 16.66667% 0); }
    .resume__tab--profile {
      left: 2rem;
      background-color: #fed9b7;
      z-index: 40;
      transform: translateY(30.3rem);
      clip-path: polygon(16.66667% 0, 33.33333% 0, 33.33333% 8%, 100% 8%, 100% 100%, 0 100%, 0 8%, 16.66667% 8%); }
    .resume__tab--education {
      left: 3rem;
      background-color: #f07167;
      z-index: 30;
      transform: translateY(30.2rem);
      clip-path: polygon(33.33333% 0, 50% 0, 50% 8%, 100% 8%, 100% 100%, 0 100%, 0 8%, 33.33333% 8%); }
    .resume__tab--skills {
      left: 4rem;
      background-color: #00afb9;
      z-index: 20;
      transform: translateY(30.1rem);
      clip-path: polygon(50% 0, 66.66667% 0, 66.66667% 8%, 100% 8%, 100% 100%, 0 100%, 0 8%, 50% 8%); }
    .resume__tab--experience {
      left: 5rem;
      background-color: #0081a7;
      z-index: 10;
      transform: translateY(30rem);
      clip-path: polygon(66.66667% 0, 83.33333% 0, 83.33333% 8%, 100% 8%, 100% 100%, 0 100%, 0 8%, 66.66667% 8%); }
    .resume__tab--projects {
      left: 6rem;
      background-color: #2a9d8f;
      z-index: 9;
      transform: translateY(30rem);
      clip-path: polygon(83.33333% 8%, 83.33333% 0, 100% 0, 100% 100%, 0 100%, 0 8%); }
    .resume__tab:hover {
      transform: translateY(29rem); }
    .resume__tab:hover .resume__tab__title {
      transform: skewZ(-10deg) scale(1.05);
      box-shadow: 10px 5px 5px rgba(43, 45, 66, 0.4);
      border: 1px solid #2b2d42; }
    .resume__tab__title {
      cursor: pointer;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.5s ease-out;
      position: absolute;
      display: inline-block;
      transform: translateX(-50%);
      top: 0;
      width: calc(100% / 6);
      text-align: center;
      padding: .5rem 0; }
      .resume__tab__title--about {
        left: calc( (((calc(100/6) * (0 + 0.5)) * 1%))); }
      .resume__tab__title--profile {
        left: calc( (((calc(100/6) * (1 + 0.5)) * 1%))); }
      .resume__tab__title--education {
        left: calc( (((calc(100/6) * (2 + 0.5)) * 1%))); }
      .resume__tab__title--skills {
        left: calc( (((calc(100/6) * (3 + 0.5)) * 1%))); }
      .resume__tab__title--experience {
        left: calc( (((calc(100/6) * (4 + 0.5)) * 1%))); }
      .resume__tab__title--projects {
        left: calc( (((calc(100/6) * (5 + 0.5)) * 1%))); }
    .resume__tab__checkbox {
      display: none;
      transition: all 1s ease; }
    .resume__tab__button {
      width: 100%;
      height: 100%;
      display: inline-block;
      overflow-x: hidden; }
    .resume__tab__checkbox:checked + .resume__tab {
      transform: translateY(-0.5rem); }
    .resume__tab__slide {
      width: 100%;
      height: 100%;
      display: inline-block; }
    .resume__tab__scroll {
      position: absolute;
      top: 5rem;
      left: 50%;
      transform: translateX(-50%);
      height: 5rem;
      width: 10rem;
      z-index: -1;
      opacity: 0;
      transition: all 0.5s ease;
      transition-delay: 0.5s; }
    .resume__tab__checkbox:checked + .resume__tab > .resume__tab__scroll {
      z-index: 1000;
      opacity: 1; }
    .resume__tab__checkbox--slider:not(:checked) + .slider__icon {
      animation: arrow-move-down 1s 1; }
    .resume__tab__checkbox--slider:hover + .slider__icon {
      transform: scale(1.5); }
    .resume__tab__checkbox--slider:checked:hover + .slider__icon {
      transform: scale(1.5) rotate(180deg); }
    .resume__tab__checkbox--slider:checked + .slider__icon {
      transform: rotate(180deg);
      animation: arrow-move-up 1s 1; }
    .resume__tab__checkbox--slider:checked ~ .resume__tab__file--1 {
      transform: translateY(-15rem);
      opacity: 0;
      transition-delay: 0s; }
    .resume__tab__checkbox--slider:checked ~ .resume__tab__file--2 {
      transition-delay: 0.5s;
      transform: translateY(0);
      opacity: 1; }
    .resume__tab__file {
      background-color: rgba(237, 242, 244, 0.8);
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      margin: 4rem 1.5rem;
      padding: 1rem;
      height: 85%;
      width: 95%;
      transition: all 1s ease-out;
      box-shadow: 3px 3px 3px rgba(43, 45, 66, 0.4); }
      .resume__tab__file__heading {
        text-align: left;
        padding-top: 1rem 0;
        font-size: 2rem; }
      .resume__tab__file__content__p {
        font-size: 1.6rem;
        line-height: 1.8rem;
        padding-bottom: 1rem;
        font-weight: 100; }
      .resume__tab__file--1 {
        transition-delay: 0.5s; }
      .resume__tab__file--2 {
        opacity: 0;
        transform: translateY(15rem); }
