// https://coolors.co/palette/0081a7-00afb9-fdfcdc-fed9b7-f07167

// Color Palettes

$color-black: #2b2d42;

$color-white: #edf2f4;

$color-purple: #7d2efd;
$color-blue-dark: #0081a7;

$color-blue-green: #00b98b;
$color-blue-light: #00afb9;

$color-tan-light: #fdfcdc;
$color-tan-light-2: #ffea8c;

$color-tan-dark: #fed9b7;
$color-tan-dark-2: #fdba8e;

$color-red-light: #e99a94;
$color-red-light-2: #f07167;


$color-cover-front: #f3d9c0;
$color-cover-front-2: #f8c89b;
$color-cover-front-outline: #fcad78f3;
$color-cover-back: #a87c52;
$color-cover-back-2: #c08c5c;

$color-green-moss: #2a9d8f;
$color-green: #34bb83;

$color-grey: #8d99ae;
$color-grey-light-1: #f7f7f7;
$color-grey-light: #aaaaaa;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

// Indicies
$resume-index-about: 0;
$resume-index-profile: 1;
$resume-index-education: 2;
$resume-index-skills: 3;
$resume-index-experience: 4;
$resume-index-projects: 5;
$resume-tabs-total: 6;

// Resume components

// $resume-page-height: 40vh;
$resume-page-height: 45rem;
$resume-cover-width: 63rem;
// how much we want to scale our ::before pseudo elems to make borders
$resume-border-handler: 0.99;
$resume-tab-left: 1;
$resume-tab-depth: 8%;
$resume-tab-length: calc(100/#{$resume-tabs-total});
$resume-transy: 32;
// Resume text

// Animation values
$anim-height: 30rem;
$anim-hover: 29rem;
$anim-click: .5rem;
$anim-shadow: 29rem;
// Font sizes
$font-tab-title: 1.3rem;
$font-settings-text: 1.6rem;
$font-file-heading: 2rem;
$font-file-content: 1.6rem;

$font-tab-title-small: 1rem;
$font-settings-text-small: 1.2rem;
$font-file-heading-small: 1.2rem;
$font-file-content-small: 1rem;
// grids
$grid-width: 114rem;
$gutter-vertical: .5rem;
$gutter-horizontal: .5rem;