.header{
    border-bottom: 2px solid $color-grey;
    height: 4rem;
    width: 100%;
    position: relative;
    margin-bottom: 5rem;
    background-color: inherit;

    &__title{
        display: block;
        margin: auto;
        width: 90%;
        text-align: center;
        text-transform: uppercase;
    }
    &__settings{
        &__button{
            display: inline-block;
            height: 3rem;
            width: 3rem;
            font-size: 2rem;
            position: absolute;
            right: 0;
            top: 0;
            text-decoration: none;
            cursor: pointer;
        }
        
        &__checkbox{
            display: none;
        }

    }
}