body{
    /* put font properties in body bc properties are inherited  */
    /* already added in index.html link.href */
    /* Choose sans-serif if Lato isnt available */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: inherit;
    
}

.header{
    &__title{
        font-size: 2rem;
        font-weight: 700;
    }
}

.resume{
    &__tab{
        &__title{
            text-decoration: none;
            color: $color-black;
            font-size: $font-tab-title;
        }
    }
}

.font-bold{
    font-weight:700;
}

.font-shrink{
    font-size: 1.2rem;
}