.resume{
    position: relative;
    display: block;
    max-width: 65rem;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: 3;

    &__tab__checkbox:checked ~ &__shadow--anim{
        transform: translateY(5rem);
    }
    &__shadow--anim{
        transition: all 0.5s ease-out;
        width: 80%;
        max-width: 55rem;
        position: absolute;
        height: $anim-height;
        display: inline-block;
        z-index: 2;
        box-shadow: 11rem 1rem 1rem rgba($color-black, 0.4);
        transform:translateY(calcTransY(-5) * 1rem);
        mix-blend-mode: exclusion;
        left: calcTabLeft($resume-index-about) * 1rem;
    }
    &__shadow{
        box-shadow: 1rem 1rem 1rem rgba($color-black, 0.4);
        width: 100%;
        max-width: 63rem;
        position: absolute;
        height: calc($resume-page-height - 5rem);
        left: 50%;
        background-color: transparent;
        display: inline-block;
        transform: translateX(-51%) translateY(calcTransY(.5) * 1rem);
    }
    &__cover{
        
        width: 100%;
        max-width: $resume-cover-width;
        height: $resume-page-height;
        position: absolute;
        background-color: $color-cover-front-outline;
        &__title{
            z-index: 62;
            color: rgba($color-red-light-2, 0.8);
            font-size: 3rem;
            position: absolute;
            top: 5rem;
            left: 2rem;
            transform: rotate(-15deg);
            display: inline-block;
            width: 10rem;
            height: 5rem;
            text-transform: uppercase;
            line-height: 3rem;
        }
        &__name{
            margin: auto;
            z-index: 62;
            font-size: 2rem;
            position: absolute;
            text-align: center;
            top: 14%;
            right: 3%;
            display: inline-block;
            width: 15rem;
            height: 5rem;
            line-height: 5rem;
            background-color: $color-white;
            text-transform: uppercase;
            box-shadow: .3rem .3rem .3rem rgba($color-black, 0.2);
        }
        &--front{
            
            clip-path: polygon(100% $resume-tab-depth, 100% 100%, 0 100%, 0 $resume-tab-depth);
            z-index: 60;
            left: 0;
            transform: translateY(calcTransY(0) * 1rem);
            &::before{
                width: 100%;
                transform: scaleX(0.98) translateY(.5rem);;
                z-index: 61;
                // background-color: $color-cover-front;
                background: linear-gradient(to bottom right, $color-cover-front, $color-cover-front-2);
                content: "";
                display: inline-block;
                position: absolute;
                clip-path: polygon(100% $resume-tab-depth, 100% 100%, 0 100%, 0 $resume-tab-depth);
                max-width: $resume-cover-width;
                height: $resume-page-height;
                
            }

            
        }
        &--back{
            clip-path: polygon(100% $resume-tab-depth, 100% 90%, 99.5% 94%, 99% 95%, 98% 98%, 97% 100%, 0 100%, 0 $resume-tab-depth);
            background-color: $color-cover-back-2;
            z-index: 7;
            right: 0rem;
            transform: translateY(calcTransY(0.8) * 1rem);
            height: calc(#{$resume-page-height} + 0.5rem);
            box-shadow: 10px 2px 2px rgba($color-black, 0.4);
        }
    }

    &__tab{
        cursor: pointer;
        border-radius: 0 0 3px 3px;
        width: 90%;
        position: absolute;
        height: $resume-page-height;

        &--about{
            left: calcTabLeft($resume-index-about) * 1rem;
            background: linear-gradient(to right, $color-tan-light,$color-tan-light-2);
            z-index: 50;
            transform: translateY(calcTransY(1.6) * 1rem);
            @include create-clip-path($resume-index-about);
        }
        &--profile{
            left: calcTabLeft($resume-index-profile) * 1rem;
            background: linear-gradient(to right, $color-tan-dark,$color-tan-dark-2);
            z-index: 40;
            transform: translateY(calcTransY(1.7) * 1rem);
            @include create-clip-path($resume-index-profile);
        }
        &--education{
            left: calcTabLeft($resume-index-education) * 1rem;
            background: linear-gradient(to right, $color-red-light,$color-red-light-2);
            z-index: 30;
            transform: translateY(calcTransY(1.8) * 1rem);
            @include create-clip-path($resume-index-education);
        }
        &--skills{
            left: calcTabLeft($resume-index-skills) * 1rem;
            background: linear-gradient(to right, $color-blue-green,$color-blue-light);

            z-index: 20;
            transform: translateY(calcTransY(1.9) * 1rem);
            @include create-clip-path($resume-index-skills);
        }
        &--experience{
            left: calcTabLeft($resume-index-experience) * 1rem;
            background: linear-gradient(to right, $color-blue-dark,$color-purple);
            z-index: 10;
            transform: translateY(calcTransY(2) * 1rem);
            @include create-clip-path($resume-index-experience);
        }
        &--projects{
            left: calcTabLeft($resume-index-projects) * 1rem;
            background: linear-gradient(to right, $color-green-moss,$color-green);
            z-index: 9;
            transform: translateY(calcTransY(2) * 1rem);
            @include create-clip-path($resume-index-projects);
        }
        transition: all 0.5s ease-out;
        &:hover{
            transform: translateY($anim-hover);
        }
        &:hover &__title{
            transform: skewZ(-10deg) scale(1.05);
            box-shadow: 10px 5px 5px rgba($color-black, 0.4);
            border: 1px solid $color-black;
        }

        &__title{
            cursor: pointer;
            font-weight: 700;
            text-transform: uppercase;
            transition: all 0.5s ease-out;
            position: absolute;
            display: inline-block;
            transform: translateX(-50%);
            top:  0;
            width: calc(100% / #{$resume-tabs-total});
            text-align: center;
            padding: .5rem 0;
            &--about{
                @include set-tab-indent($resume-index-about);
            }
            &--profile{
                @include set-tab-indent($resume-index-profile);
            }
            &--education{
                @include set-tab-indent($resume-index-education);
            }
            &--skills{
                @include set-tab-indent($resume-index-skills);
            }
            &--experience{
                @include set-tab-indent($resume-index-experience);
            }
            &--projects{
                @include set-tab-indent($resume-index-projects);
            }
        }
        //  checkbox/Buttons
        &__checkbox{
            display: none;
            transition: all 1s ease;
        }
        &__button{
            width: 100%;
            height: 100%;
            display: inline-block;
            overflow-x: hidden;
        }
        &__checkbox:checked + &{
            transform: translateY(-$anim-click);
        }

        &__slide{
            width: 100%;
            height: 100%;
            display: inline-block;
        }

        
        &__scroll{
            position: absolute;
            top: 5rem;
            left: 50%;
            transform: translateX(-50%);
            height: 5rem;
            width: 10rem;
            z-index: -1;
            opacity: 0;
            transition: all 0.5s ease;
            transition-delay: 0.5s;
        }
        &__checkbox:checked + & > &__scroll{
            z-index: 1000;
            opacity: 1;
        }
        // Specific to experience movement
        &__checkbox--slider:not(:checked) + .slider__icon{
            animation: arrow-move-down 1s 1;
        }
        &__checkbox--slider:hover + .slider__icon{
            transform: scale(1.5);
        }
        &__checkbox--slider:checked:hover + .slider__icon{
            transform: scale(1.5) rotate(180deg);
        }
        &__checkbox--slider:checked + .slider__icon{
            transform: rotate(180deg);
            animation: arrow-move-up 1s 1;
        }
        &__checkbox--slider:checked ~ &__file--1{
            transform: translateY(-15rem);
            opacity: 0;
            transition-delay: 0s;
        }
        &__checkbox--slider:checked ~ &__file--2{
            transition-delay: 0.5s;
            transform: translateY(0);
            opacity: 1;
        }
        // File contents

        &__file{
            background-color: rgba($color-white, 0.8);
            position: absolute;
            display:inline-block;
            top: 0;
            left: 0;
            margin: 4rem 1.5rem;
            padding: 1rem;
            height: 100%;
            width: 95%;
            transition: all 1s ease-out;
            box-shadow: 3px 3px 3px rgba($color-black, 0.4);
            overflow-y:auto;
            &__heading{
                text-align: left;
                padding-top: 1rem 0;
                font-size: $font-file-heading;
            }
            &__content{
                overflow-y:auto;
                &__p{
                    font-size: $font-file-content;
                    line-height: 1.8rem;
                    padding-bottom: 1rem;
                    font-weight: 100;
                }
            }
            &--1{
                transition-delay: 0.5s;
            }
            &--2{
                opacity: 0;
                transform: translateY(15rem);
            }
            
        }

    }

    // &__tab__checkbox:checked &__tab{
    //     transform: translateY($anim-hover);
    // }






    
    
}