@media(max-width: 640px){
    .resume{
        &__tab{
            width:85%;
            &__checkbox:checked + &{
                animation-name: pushZ;
                animation-duration: 1s;
                z-index: 500;
            }
            &__file{
                height: 80%;
                margin: 4rem 1rem;
            }
        }
    }

}

@keyframes pushZ{
    0%{
        z-index: 5;
    }
    80%{
        z-index: 5;
    }
    100%{
        z-index: 500;
    }
}